@import "colors";
.artistHome {
  // width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(12, 10, 10);

  .artistTitle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .divider {
    flex-basis: 33%;
    width: 100%;
    height: 0;
    border: 1px solid $shadeColor;
  }
  h1 {
    font-size: 2.2rem;
    padding: 2rem 1rem;
    color: white;
    font-family: $hometext;
    font-weight: 800;
  }
  .artistCon {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
